@import '../../../styles';

$container-padding-top: 1rem;
$between-day-margin: 0.5rem;
.item-container {
  $top-bottom-text-margin: 0.5rem;
  $side-text-margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: $container-padding-top;

  .item {
    width: 95%;
    padding: 0;
    margin: 0 0 $between-day-margin;

    .text-income {
      color: $text-income-color;
    }

    .text-expenses {
      color: $text-expenses-color;
    }

    .title {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      font-weight: bold;
    }

    .items-list {
      $divider-side-margin: 1rem;

      .list-item {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

        & > mat-divider {
          width: calc(100% - 2 * #{$divider-side-margin});
          margin-left: $divider-side-margin;
        }
      }

      .list-item:hover {
        transition: 0.5s;
        background: lightgray;
      }
    }

    span {
      margin: $top-bottom-text-margin $side-text-margin;
    }
  }
}
