<div class="main-page-container">
  <mat-card class="slider-buttons-container">
    <div class="slider-button-container" (click)="changeSliderView(slideProps.transactions)">
      <button mat-button class="slider-button"
              [class.button-active]="slideProps.transactions.active">
       Transactions
      </button>
    </div>
    <div class="slider-button-container" (click)="changeSliderView(slideProps.stats)">
      <button mat-button class="slider-button"
              [class.button-active]="slideProps.stats.active">
        Statistics
      </button>
    </div>
    <div class="slider-button-container" (click)="changeSliderView(slideProps.accounts)">
      <button mat-button class="slider-button"
              [class.button-active]="slideProps.accounts.active">
        Accounts
      </button>
    </div>
  </mat-card>
  <div class="slider">
    <div class="slider-inner" #innerSliderContainer>
      <div class="slide" id="trans" #slide>
        <mat-card class="list-container">
          <app-list type="trans"
                    (transactionOpen)="onTransactionOpen($event)"
                    [reload]="reload"></app-list>
        </mat-card>
        <mat-card class="edit-container">
          <app-add-edit type="trans"
                        (transactionsChanged)="onTransactionsChange()"
                        [transaction]="transaction"></app-add-edit>
        </mat-card>
      </div>
      <div class="slide" id="stats" style="background: yellow">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="slide" id="accounts">
        <mat-card class="list-container">
          <app-list type="accounts"></app-list>
        </mat-card>
        <mat-card class="edit-container">
          <app-add-edit type="accounts" [account]="account"></app-add-edit>
        </mat-card>
      </div>
    </div>
  </div>
</div>
