<div *ngIf="!this.addEditService.loading">
  <div class="form-container" *ngIf="transaction || account || add">
    <div *ngIf="type === 'trans'">
      <mat-card class="title-container">
        <span class="title" *ngIf="add">{{ getDate() }}</span>
        <span class="title" *ngIf="!add">{{ getDate(transaction.date) }}</span>
      </mat-card>
      <form [formGroup]="form">
        <mat-card class="form">
          <mat-select placeholder="category" [(value)]="selectedCategoryValue" #category>
            <mat-option *ngFor="let category of categories" value="{{ category }}">
              {{ category }}
            </mat-option>
          </mat-select>
          <mat-select placeholder="account" [(value)]="selectedAccountValue" #account>
            <mat-option *ngFor="let account of accounts" value="{{ account.name }}">
              {{ account.name }}
            </mat-option>
          </mat-select>
          <div #income>
            <mat-form-field floatLabel="never" *ngIf="transaction && transaction.income !== '0' || add">
              <input type="text" matInput placeholder="income" formControlName="income" />
            </mat-form-field>
          </div>
          <div #expenses>
            <mat-form-field floatLabel="never" *ngIf="transaction && transaction.expenses !== '0' || add">
              <input type="text" matInput placeholder="expenses" formControlName="expenses" />
            </mat-form-field>
          </div>
          <mat-form-field floatLabel="never">
            <textarea matInput placeholder="comment" formControlName="comment"></textarea>
          </mat-form-field>
          <button mat-button (click)="deleteItem()" *ngIf="!add">Delete</button>
          <div class="buttons-container">
            <button mat-button (click)="closeForm()">Cancel</button>
            <button mat-button (click)="add ? addItem() : editItem()">Submit</button>
          </div>
        </mat-card>
      </form>
    </div>

    <div *ngIf="type === 'accounts'">
      <mat-card class="title-container" *ngIf="!add">
        <span class="title">{{ account.name }}</span>
      </mat-card>
      <form [formGroup]="form">
        <mat-card class="form">
          <mat-form-field>
            <input type="text" matInput placeholder="name" formControlName="name" />
          </mat-form-field>
          <button mat-button (click)="deleteItem()" *ngIf="!add">Delete</button>
          <div class="buttons-container">
            <button mat-button (click)="closeForm()">Cancel</button>
            <button mat-button (click)="add ? addItem() : editItem()">Submit</button>
          </div>
        </mat-card>
      </form>
    </div>

  </div>
</div>
<div class="form-container full-height" *ngIf="!(transaction || account) && !add && !this.addEditService.loading">
  <mat-card class="info-container">
    <span>Click any item to edit or remove it</span>
    <span>or</span>
    <button mat-button (click)="openForm()">Add item</button>
  </mat-card>
</div>
<div class="spinner-container" *ngIf="this.addEditService.loading">
  <mat-card>
    <mat-spinner></mat-spinner>
  </mat-card>
</div>

